@import "../../../styles/base.scss";

.togglename {
    color: $primaryOrange;
    font-family: $code;
}

.toggle {
    float: left;
}

.sidenavitem {
    margin-top: 15px;
  }

//   This note needs to be deleted 