// base colors
$black: #212121;
$white: #fff;
$lighterGray: #fafafa;
$lightGray: #fefefe;
$gray: #e0e0e0;
$darkGray: #616161;
$primaryBlue: #63a26f;
$hoverBlue: #63a26f;
$red: rgb(234,60,85);
$mainDark: #cbc9cc;
$lightDark: #045253;
$primaryOrange: #f09f20;
$lightOrange: #fbd489;
$darkDark: #2c545a;


// font weights
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 800;

// fonts
$code: "Roboto", monospace;
