// base colors
$black: #212121;
$white: #fff;
$lighterGray: #fafafa;
$lightGray: #fefefe;
$gray: #e0e0e0;
$darkGray: #616161;
$primaryBlue: rgb(91,140,133);
$hoverBlue: rgb(91,140,133);
$red: rgb(234,60,85);
$mainDark: rgb(67,78,82);
$lightDark: #222a37;
$primaryOrange: rgb(241,165,55);

// font weights
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 800;

// fonts
$code: "Roboto", monospace;
